@model cloudscribe.Pagination.Models.PagedResult<MissionDTO>



<h1 style="text-align:center; margin-bottom:25px; margin-top:15px;">Focus To Do</h1>
<div id="view-all">

    @await Html.PartialAsync("_viewAll")

</div>

